* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: #111;
}

.dot {
  background-color: #fdd36a;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
}

.btn {
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #ccc;
}
